{% extends 'base.html' %}
{% block content %}
<div class="container-fluid bg-dark" style="margin-top:6%;">
  <div  class="text-center text-white pt-2">
    {% if images %}
      <h2>{{message}} images </h2>
    {% else %}
      <h2>Sorry, {{message}} images not found</h2>
    {% endif %}

  </div>
  <div class="container-fluid bg-dark m-3 text-center justify-content-center" >
    <div class="row">
          {% for image in images %}
          <div class="card m-2 thumbnails" style="width: 19rem;" data-toggle="modal" data-target="#exampleModal">
            <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap" class="img-rounded" data-toggle="modal" data-target="#myModal" alt="Cinque Terre" width="304" height="236">
  
          </div>
        {% endfor %}
      </div>
      
  
  </div>
  
{% endblock %}
