{% extends 'base.html' %}
{% block content %}
<div class="container-fluid bg-dark" style="margin-top:6%;">
  <div  class="text-center text-white pt-2">
    {% if images %}
      <h2>{{message}} images </h2>
    {% else %}
      <h2>Sorry, {{message}} images not found</h2>
    {% endif %}

  </div>
  <div class="row">
        {% for image in images %}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb p-2">
          <a href="{{image.image.url}}" class="fancybox" rel="ligthbox">
              <img  src="{{image.image.url}}" class="zoom img-fluid "  alt="" max-height="420px" width="320px">
             
          </a>
      </div>
      {% endfor %}
    </div>
    

</div>

{% endblock %}
